<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Welcome</title>
		<link th:href="@{/css/style.css}" rel="stylesheet">
	</head>
	
	<body>
		<h3>You are authenticated!</h3>
		<table border="2">
			<tr>
				<td>Username</td>
				<td th:text="${uname}"></td>
	        </tr>
		 	
			<tr>
				<td>Token</td>
				<td th:text="${token}"></td>

	        </tr>
		 	
			<tr>
				<td>Active</td>
				<td th:text="${active}"></td>
	        </tr>
		 	
			<tr>
				<td>Location</td>
				<td th:text="${location}"></td>
	        </tr>
        </table>
		 
	 
	        <form th:action="@{/logout}" th:object="${logoutForm}" method="post">
        		<p>
	    			<input type="submit" value="Logout" id="inputSubmitLogout">
        		</p>
        	</form>
	</body>
</html>